@model UsernameDetails
@using Data.Models

@{
    ViewData["Title"] = "Submit";
}

<form asp-action="SubmitUsername" asp-controller="GitHub" method="post">
    <div>
        <p>Please enter a Username for a GitHub User: </p>
        <label asp-for="Username"></label>
        <input asp-for="Username" />

        <span asp-validation-for="Username" class="custom-required"></span>
    </div>

    <div>
        <label class="text-danger">@ViewBag.ErrorMessage</label>
        
    </div>

    <div style="margin-top: 1em;">
        <input type="submit" value="Submit" />
    </div>
</form>
